
body {
    font-family: var(--main-font);
}
.container {
    width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;

}

/* Падінги для секцій  */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}